.card {
    background-color: 245, 203, 222;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Edu SA Beginner', cursive;
}

label {
    width: max-content;
    color: black;
    font-size: 15px;
    border-bottom: .5px solid black;
    margin: 3px 0;
}

.stars {
    color: palegoldenrod;
}